{% extends 'base.html.twig' %}

{% block title %}Hello SyntheseController!{% endblock %}

{% block body %}
    <h1>liste de syntheses</h1>
    <section class = "article">
        {% for synthese in syntheses %}   
        <article>
            <h2> {{synthese.title}} </h2>
                <div class = "metadata">ecrit le {{ synthese.creation | date('d/m/Y') }}</div>
                <div class="container">
                    <p> {{ synthese.descriptif }}</p>
                    <a href = "{{path("synthese_show",{'id':synthese.id})}}" class ="btn btn-primary">lire le detail</a>

                </div>
        </article>
        {% endfor %}
    </section>

    

{% endblock %}
