{% extends 'base.html.twig'%}
{% block body %}
<article>
    <h2> {{ synthese.title }}</h2>
    <div class="metadata">Ecrit le {{ synthese.creation | date('d/m/Y') }}</div>
    <p>
        {{ synthese.contenu }}
    </p>
</article>
{% endblock %}
